.header {

  .v-toolbar {
    color: $white;
  }

  .v-toolbar__title {
    font-weight: 500;
    text-transform: uppercase;
  }

  .v-toolbar__content {
    @media only screen and (max-width: 599px) {
      padding: 0;
    }
  }
}

.mainHeader {
  .v-toolbar__items {

    .v-btn__content {
      a {
        color: $black;
        
      }
      
    }

    .v-btn {
      @media only screen and (max-width: 599px) {
        padding: 0 0 0 10px;
      }
    }
  }
}
.slide-fade-enter {
  transform: translateX(10px);
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.2s ease;
}

.slide-fade-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}